<button
  type="button"
  class="btn btn-primary"
  data-toggle="modal"
  data-target="#stdexampleModal"
>
  Create Student..
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="stdexampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <h5 class="modal-title text-white" id="exampleModalLabel">
          Create New Student
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body bg-light">
        <form class="p-3">
          <div class="form-group row">
            <label class="form-check-label col-sm-3" for="sno">Serial No</label>
            <input
              class="form-control col-sm-9"
              type="text"
              id="sno"
              name="serialNo"
              [(ngModel)]="stdCreate.id"
            />
          </div>

          <div class="form-group row">
            <label class="form-check-label col-sm-3" for="name">Name</label>
            <input
              class="form-control col-sm-9"
              type="text"
              name="name"
              [(ngModel)]="stdCreate.stdName"
              id="name"
              required="true"
            />
          </div>
          <div class="form-group row">
            <label class="form-check-label col-sm-3" for="sno"
              >Desgination</label
            >
            <input
              class="form-control col-sm-9"
              text="text"
              id="Desgination"
              name="Desgination"
              [(ngModel)]="stdCreate.designation"
            />
          </div>
          <div class="form-group row">
            <label class="form-check-label col-sm-3" for="location"
              >Location</label
            >
            <select
              class="form-control col-sm-9"
              name="location"
              [(ngModel)]="stdCreate.location"
              id="location"
              required
            >
              <option value="">--SELECT--</option>
              <option value="CHN">CHENNAI</option>
              <option value="BGR">BANGALORE</option>
              <option value="HYD">HYDERABAD</option>
              <option value="SEC">SECANDRABAD</option>
            </select>
          </div>

          <div class="form-group row">
            <label class="form-check-label col-sm-3" for="status">status</label>
            <input
              class="form-check-input col-sm-9"
              type="checkbox"
              value=""
              id="status"
              name="active"
              [(ngModel)]="stdCreate.active"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="handleSaveClick()"
        >
          Save
        </button>
      </div>
      <div *ngIf="errMessage.length > 0" class="alert alert-danger p-3 m-3">
        {{ errMessage }}
      </div>
    </div>
  </div>
</div>
